In [4]:
import pandas as pd

In [5]:
bbc = pd.read_csv("./data/bbc_data.csv")

In [3]:
bbc.describe()

                                                     data labels
count                                                2225   2225
unique                                               2126      5
top     Web radio takes Spanish rap global  Spin the r...  sport
freq                                                    2    511

In [4]:
len(bbc)

2225

In [5]:
len(bbc.drop_duplicates())

2126

In [6]:
bbc = bbc.drop_duplicates()

In [8]:
bbc['labels'].value_counts() / 2126

labels
sport            0.237535
business         0.236595
politics         0.189558
entertainment    0.173565
tech             0.162747
Name: count, dtype: float64

In [3]:
sarc = pd.read_json("./data/Sarcasm_Headlines_Dataset_v2.json", lines=True)

NameError: name 'pd' is not defined

In [11]:
sarc

,is_sarcastic,headline,article_link
0,1,thirtysomething scientists unveil doomsday clo...,https://www.theonion.com/thirtysomething-scien...
1,0,dem rep. totally nails why congress is falling...,https://www.huffingtonpost.com/entry/donna-edw...
2,0,eat your veggies: 9 deliciously different recipes,https://www.huffingtonpost.com/entry/eat-your-...
3,1,inclement weather prevents liar from getting t...,https://local.theonion.com/inclement-weather-p...
4,1,mother comes pretty close to using word 'strea...,https://www.theonion.com/mother-comes-pretty-c...
...,...,...,...
28614,1,jews to celebrate rosh hashasha or something,https://www.theonion.com/jews-to-celebrate-ros...
28615,1,internal affairs investigator disappointed con...,https://local.theonion.com/internal-affairs-in...
28616,0,the most beautiful acceptance speech this week...,https://www.huffingtonpost.com/entry/andrew-ah...
28617,1,mars probe destroyed by orbiting spielberg-gat...,https://www.theonion.com/mars-probe-destroyed-...
28618,1,dad clarifies this not a food stop,https://www.theonion.com/dad-clarifies-this-no...

In [12]:
sarc = sarc.drop_duplicates()

In [13]:
len(sarc)

28617

In [15]:
sarc['is_sarcastic'].value_counts() / len(sarc)

is_sarcastic
0    0.523605
1    0.476395
Name: count, dtype: float64

In [17]:
new_bbc = bbc.iloc[:5]

In [22]:
new_bbc

                                                data         labels
0  Musicians to tackle US red tape  Musicians gro...  entertainment
1  U2s desire to be number one  U2, who have won ...  entertainment
2  Rocker Doherty in on-stage fight  Rock singer ...  entertainment
3  Snicket tops US box office chart  The film ada...  entertainment
4  Oceans Twelve raids box office  Oceans Twelve,...  entertainment

In [23]:
sarc.iloc[:5]

,is_sarcastic,headline,article_link
0,1,thirtysomething scientists unveil doomsday clo...,https://www.theonion.com/thirtysomething-scien...
1,0,dem rep. totally nails why congress is falling...,https://www.huffingtonpost.com/entry/donna-edw...
2,0,eat your veggies: 9 deliciously different recipes,https://www.huffingtonpost.com/entry/eat-your-...
3,1,inclement weather prevents liar from getting t...,https://local.theonion.com/inclement-weather-p...
4,1,mother comes pretty close to using word 'strea...,https://www.theonion.com/mother-comes-pretty-c...

In [6]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [7]:
tokenizer = Tokenizer()

In [9]:
tokenizer.fit_on_texts(bbc['data'])

In [13]:
len(tokenizer.word_index)

30935